.fas{
  font-size: 1em;
  &.medium-icon{
    font-size: 1.5em;
   };

   &.small-icon{
    font-size: 0.8em;
   };
}

.far{
  font-size: 1em;
  &.medium-icon{
    font-size: 1.5em;
   };

   &.small-icon{
    font-size: 0.8em;
   };
}

.pink{
  background-color:#F2DCDA;
}

.error-box{
  border-top: solid 1px #D62B27;
  border-bottom: solid 1px #D62B27;
  background-color:#F2DCDA;
}