
<template class="body">
  <div class="body" v-if="vm">
    <v-layout class="black align-left justify-left pa-5">
      <v-icon color="#00A4E4" size="38px" class="pr-3">fas fa-globe</v-icon>
      <div class="pt-2">
        <h3 class="mantitle">Bookaroo - Global</h3>
      </div>
      <v-spacer></v-spacer>
      <vue-status>
        <v-icon
          slot="online"
          color="green"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
        <v-icon
          slot="offline"
          color="red"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
      </vue-status>
    </v-layout>

    <TitleBar :title="'Process Receipt'" />
    <v-layout>
      <v-flex xs12 lg12 text-xs-center grow flex></v-flex>
    </v-layout>
    <div class="scannedat">
      Booking in at  <span style ="text-decoration: underline; font-weight: bold;">{{ this.depotname }}</span> <br/>
      <span class="font-weight-bold">{{vm.numberOfItemsScanned}}</span> bespoke item(s) scanned spanning
      <span class="font-weight-bold">{{vm.posSpanning}}</span> purchase orders
    </div>

    <div class="scanned">
      <div v-for="(item, index) in this.vm.items" :key="index" class="pa-4">

        <!-- <v-layout row wrap align-center v-if="isNotSelectedDepot(item.poNumber)">
          <v-flex xs12 red white--text pa-2 mb-1>
            <v-icon>fas fa-exclamation-triangle mr-2 white--text</v-icon>
            <span class="font-weight-bold">The selected depot does not match the PO number and will not be booked in.</span>
          </v-flex>
        </v-layout> -->

        <v-layout row wrap align-center v-if="atCentral(item.depotName)">
          <v-flex xs12 yellow black--text pa-2 mb-1>
            <v-icon>fas fa-clipboard-list mr-2 black--text</v-icon>
            <span class="font-weight-bold">Booking into central to send out for {{item.depotName}}</span>
          </v-flex>
        </v-layout>

        <v-layout row wrap align-center v-if="checkItemDepotNo(item.depotNumber)">
          <v-flex xs12 red white--text pa-2 mb-1>
            <v-icon>fas fa-exclamation-triangle mr-2 white--text</v-icon>
            <span class="font-weight-bold">This item is not for this depot. It is for {{item.depotName}}</span>
          </v-flex>
        </v-layout>

        <!-- <v-layout row wrap align-center v-if="noPOnumber(item.poNumber)">
          <v-flex xs12 red white--text pa-2 mb-1>
            <v-icon>fas fa-exclamation-triangle mr-2 white--text</v-icon>
            <span class="font-weight-bold">There is No Sage PO number for this item.</span>
          </v-flex>
        </v-layout> -->

        <!-- <v-layout row wrap align-center v-if="depNumberCheck(item.depot)">
          <v-flex xs12 red white--text pa-2 mb-1>
            <v-icon>fas fa-exclamation-triangle mr-2 white--text</v-icon>
            <span class="font-weight-bold">There is No Sage PO number for this item.</span>
          </v-flex>
        </v-layout> -->

        <v-layout row wrap align-center v-if="ManNumber(item.manifestNumber)">
          <v-flex xs12 yellow black--text pa-2 mb-1>
            <v-icon>fas fa-clipboard-list mr-2 black--text</v-icon>
            <span class="font-weight-bold">This is from Manifest {{item.manifestNumber}}</span>
          </v-flex>
        </v-layout>

        <v-layout row wrap align-center v-if="hasEndDepot(item.depotName)">
          <v-flex xs10>
            <span style ="text-decoration: underline; font-weight: bold;">Booking in for {{item.depotName}}</span>
          </v-flex>
          <v-flex xs2 text-xs-right>
            <v-icon @click="removeBarcode(item)">fas fa-times-circle</v-icon>
          </v-flex>
        </v-layout>

        <v-layout row wrap align-center mt-3>
          <v-flex xs4>
            <h4 class="font-weight-bold">Barcode</h4>
          </v-flex>
          <v-flex xs8 class="font-weight-bold">{{item.barCode}}</v-flex>
        </v-layout>

        <v-layout row wrap align-center v-if="hasPO(item.poNumber)">
          <v-flex xs4>
            <h4 class="font-weight-bold">PO number</h4>
          </v-flex>
          <v-flex xs8 class="font-weight-bold">{{item.poNumber}}</v-flex>
          
        </v-layout>

      </div>
    </div>

 <vue-status>
      <div class="footer" slot="online">
        <v-flex grow flex pb-4>
          <v-btn
            style="margin-bottom: 20px; background-color: #00A4E4; color: white;"
            :disabled="dialog" 
            :loading="dialog" 
            @click="processChosenBarcodes"
            >Process</v-btn
          >
        </v-flex>

        <v-dialog v-model="dialog" hide-overlay persistent width="180" style="text-align: center">
          <v-card color="#00A4E4" dark align-center>
            <v-card-text style="text-align: center; color: white;">
              <p>Processing reciept... </p>
              <v-progress-circular indeterminate color="white" class="mb-0" :width="3"></v-progress-circular>
            </v-card-text>
          </v-card>
        </v-dialog>

      </div>
 </vue-status>
 <vue-status>
      <div class="footer" slot="offline">
        <v-flex grow flex pb-4>
          <v-btn
            disabled
            style="margin-bottom: 20px; background-color: #00A4E4; color: white;"
            >Process</v-btn
          >
        </v-flex>
      </div>
  </vue-status>



  </div>
</template>

<script>
/* eslint-disable */
import VueStatus from "vue-status";
//import { version } from 'webpack';
import BookerooApi from "../services/bookeroo.service";
//import Storage from "../services/storage";

export default {
  data() {
    return {
      depotRules: [v => !!v || "Depot is required"],
      depots: [],
      depotId: 0, // localStorage.getItem('depotNumber',this.depotId),
      chosenCodes: [],
      alert: true,
      dialog: false,
      valid: true,
      depotname: localStorage.getItem("depotname"),
      disabled: false,
      //selectedDepotId: localStorage.getItem("depotNumber"),
      toBlankDisabled: false,
      poNumbool: false,
      mNumbool: false,
      LastScans: [],
      scannedCodes:[],
      scannedItems:[]

    };
  },
  components: {
    VueStatus,
  },

  computed: {
    vm() {
      return this.$store.state.scannedResponse;
    },
    version(){
      return process.env.VUE_APP_VERSION;
    }

  },
mounted(){
    var depotId = parseInt(localStorage.getItem("depotNumber"));
    this.depotId = depotId;

},
  methods: {
    
     removeBarcode(item) {
       //This removes from the current state that will be sent.
      console.log("removing this code from the list: ", item);
      this.$store.commit("removeBarcode", item);
      //Need to update local storage too for scanbesp screen
      var codeList = JSON.parse(localStorage.getItem("scanneditems"));
      var index = codeList.findIndex(c => c == item);
      codeList.splice(index,1);
      localStorage.setItem("scanneditems",JSON.stringify(codeList));
      //End of final screen updates

      //Update for the other screens last scan/scanbesp
      var lasList = JSON.parse(localStorage.getItem("lastScans"));
      var lastIndex = lasList.findIndex(c => c == item);
      lasList.splice(lastIndex,1);
      localStorage.setItem("lastScans",JSON.stringify(lasList));
      
      var Scanned = JSON.parse(localStorage.getItem("scannedCodes"));
      var scannedIndex = Scanned.findIndex(c => c == item);
      Scanned.splice(scannedIndex,1);
      localStorage.setItem("scannedCodes",JSON.stringify(Scanned));
      //

    
    },
    onChange(val) {
      
      console.log("ddd" + val);
      this.$store.commit("setDepotId", val);
      localStorage.setItem("depotNumber", val);
    },

    isNotSelectedDepot(poNumber) {
      var first5 = poNumber.substring(0, 5);
      var thenum = first5.replace(/^\D+/g, "");
      var final = parseInt(thenum, 10);
      return this.depotId != final;
    },
    
    noPOnumber(poNumber) {
      if (poNumber == "") {
        this.poNumbool = true;
        return this.poNumbool;
      }
    },

    depNumberCheck() {
      if (poNumber == "") {
        this.poNumbool = true;
        return this.poNumbool;
      }
    },

    ManNumber(manifestNumber) {
      if (manifestNumber !== "" && manifestNumber != null && manifestNumber !== "unknown") {
        this.mNumbool = true;
        return this.mNumbool;
      }
    },

    atCentral(central) {


        if (central !=="No Depot Found" && this.depotId == '1' && this.depotId == 1)
        {
          return true;
        }

    },

    hasPO(purchaseNo) {
        if (purchaseNo !== "unknown" && purchaseNo != null && purchaseNo !=="")
        {
          return true
        }
    },

    hasEndDepot(endDepot) {
      if (endDepot !== "unknown" && endDepot != null && endDepot !=="" && endDepot !=="No Depot Found")
        {
          return true
        }

    },

    hasNoEndDepot(noEndDepot){
      if (noEndDepot !== "unknown" && noEndDepot != null && noEndDepot !=="" && noEndDepot !=="No Depot Found")
        {
          return false
        }
    },

    checkItemDepotNo(depNo){

        if (depNo !== this.depotId && this.depotId !== 1 && this.depotId !== '1')
          {
            this.dNumbool = true;
            return this.dNumbool;
          }

    },

    processChosenBarcodes() {
      var ref = this;
      //debugger;
      var depotId = parseInt(localStorage.getItem("depotNumber"));
      this.depotId = depotId;

      if (this.depotId == 0)
      { 
              //This is the part of the code that gets the IP of the device.
          window.RTCPeerConnection =
            window.RTCPeerConnection ||
            window.mozRTCPeerConnection ||
            window.webkitRTCPeerConnection;
          var pc = new RTCPeerConnection({ iceServers: [] }),
            noop = function() {};

          pc.createDataChannel("");
          pc.createOffer(pc.setLocalDescription.bind(pc), noop);
          pc.onicecandidate = function(ice) {
            if (!ice || !ice.candidate || !ice.candidate.candidate) return;

            var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
              ice.candidate.candidate
            )[1];

            this.ipCheck = myIP;
            console.log(this.ipCheck);
            //End of IP code for the device

            BookerooApi.GetIpId(this.ipCheck).then(response => {
              localStorage.setItem("depotNumber", response.data);
              var getNewID = parseInt(localStorage.getItem("depotNumber"));
              this.depotId = getNewID ;
              console.log("Got new ID:", this.depotId);
            
              console.log("Now sending barcodes");

        ref.dialog = true;
        
        var model = ref.$store.getters.chosenBarcodes;
        var version = process.env.VUE_APP_VERSION;
        console.log("Sending this now: ", model);
        debugger;
        BookerooApi.processChosenBarcodes(this.depotId, version, model)
          .then(response => {
            ref.$store.commit("setProcessedChosenResponse", response.data);
            ref.$store.commit("clear");
            setTimeout(() => {
              ref.dialog = false;

              ref.LastScans = "";
              localStorage.setItem("lastScans", ref.LastScans);
              ref.scannedCodes = "";
              localStorage.setItem("scannedCodes", ref.scannedCodes);
              ref.scannedItems = "";
              localStorage.setItem("scanneditems", ref.scannedItems);

              ref.$router.push({ name: "ScanBespokeCode" });
            }, 4000);
          })
          .catch(error => {
            ref.dialog = false;
            console.log(error);
            alert("Error sending barcodes");
          });

            });
          };

        //   console.log("Now sending barcodes");

        // this.dialog = true;
        // var model = this.$store.getters.chosenBarcodes;
        // BookerooApi.processChosenBarcodes(this.depotId, model)
        //   .then(response => {
        //     this.$store.commit("setProcessedChosenResponse", response.data);
        //     this.$store.commit("clear");
        //     setTimeout(() => {
        //       this.dialog = false;

        //       this.LastScans = "";
        //       localStorage.setItem("lastScans", this.LastScans);
        //       this.scannedCodes = "";
        //       localStorage.setItem("scannedCodes", this.scannedCodes);
        //       this.scannedItems = "";
        //       localStorage.setItem("scanneditems", this.scannedItems);

        //       this.$router.push({ name: "ScanBespokeCode" });
        //     }, 4000);
        //   })
        //   .catch(error => {
        //     this.dialog = false;
        //     console.log(error);
        //     alert("Error sending barcodes");
        //   });

      }

      else{

     // var depotId = parseInt(localStorage.getItem("depotNumber"));
     // this.depotId = depotId;
      console.log("Valid ID");
      console.log("Now sending barcodes");
    
        this.dialog = true;
        var model = this.$store.getters.chosenBarcodes;
        var version = process.env.VUE_APP_VERSION;
        console.log("Sending this: ", model);
        debugger;
        BookerooApi.processChosenBarcodes(this.depotId, version, model)
          .then(response => {
            this.$store.commit("setProcessedChosenResponse", response.data);
            this.$store.commit("clear");
            setTimeout(() => {
              this.dialog = false;

              this.LastScans = "";
              localStorage.setItem("lastScans", this.LastScans);
              this.scannedCodes = "";
              localStorage.setItem("scannedCodes", this.scannedCodes);
              this.scannedItems = "";
              localStorage.setItem("scanneditems", this.scannedItems);

              this.$router.push({ name: "ScanBespokeCode" });
            }, 4000);
          })
          .catch(error => {
            this.dialog = false;
            console.log(error);
            alert("Error sending barcodes");
          });
      }
    },

    getNewID() {
    //This is the part of the code that gets the IP of the device.
    window.RTCPeerConnection =
      window.RTCPeerConnection ||
      window.mozRTCPeerConnection ||
      window.webkitRTCPeerConnection;
    var pc = new RTCPeerConnection({ iceServers: [] }),
      noop = function() {};

    pc.createDataChannel("");
    pc.createOffer(pc.setLocalDescription.bind(pc), noop);
    pc.onicecandidate = function(ice) {
      if (!ice || !ice.candidate || !ice.candidate.candidate) return;

      var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
        ice.candidate.candidate
      )[1];

      this.ipCheck = myIP;
      console.log(this.ipCheck);
      //End of IP code for the device

      BookerooApi.GetIpId(this.ipCheck).then(response => {
        localStorage.setItem("depotNumber", response.data);

        this.depotId = parseInt(localStorage.getItem("depotNumber"));
        console.log("Got new ID:", this.depotId);
      });
    };
  }

  }

  




};
</script>

<style
  lang="scss"
  scoped
  link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
>
.fas {
  color: #fff;
}

footer {
  height: 90px;
  z-index: 1000;
  position: relative;
  padding-top: 8px;
}
.dptslct {
  width: 80%;
  align-self: center;
  justify-content: center;
}

.noconnection {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(218, 1, 1);
  color: white;
  text-align: center;
  align-content: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}

.nowifi {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.body {
  background-color: white;
  height: 100%;
  width: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}
.key {
  text-align: right;
  padding-right: 5%;
  padding-top: 1%;
}
.his {
  text-align: left;
  padding-right: 5%;
  padding-top: 1%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}
.scannedat {
  text-align: center;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
.mantitle {
  color: white;
  text-align: right;
}
.iconright {
  text-align: right;
}

.offline {
  background-color: white;
  color: red;
  width: 100%;
  height: 100%;
  text-align: center;
}

div.scanned > div:nth-of-type(odd) {
  background: #a6d5e7;
}

div.scanned > div:nth-of-type(even) {
  background: #7fcdee;
}

</style>
