<template >
  <div class="body">
    <v-layout class="black align-left justify-left pa-5">
      <v-icon color="#00A4E4" size="38px" class="pr-3">fas fa-globe</v-icon>
      <div class="pt-2">
        <h3 class="mantitle">Bookaroo - Global</h3>
      </div>
      <v-spacer></v-spacer>
      <vue-status>
        <v-icon
          slot="online"
          color="green"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
        <v-icon
          slot="offline"
          color="red"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
      </vue-status>
    </v-layout>

    <TitleBar :title="'Scan barcode of bespoke item'" />
    <v-layout>
      <v-flex xs12 lg12 text-xs-center grow flex></v-flex>
    </v-layout>
    <div class="scanned">
      <p style="margin-bottom: 0px;">{{this.count}} bespoke code(s) scanned</p>
      <p>Booking in at <span style="color: #00A4E4; font-weight: bold;">{{this.depotName}}</span></p>
    </div>
    

    <div class="key" id="data">
      <v-flex pt-2 grow flex>
        <v-icon
          color="green"
          size="36px"
          style="text-align: left; padding-right:70%"
          @click="goToShowLast"
        >fas fa-history</v-icon>

        <v-icon color="red" size="40px" @click="dialog = true">fas fa-keyboard</v-icon>
      </v-flex>

      <v-dialog v-model="dialog" persistent>
        <v-card align-center>
          <v-card-title class="headline justify-center">
            Enter Number
            <v-spacer></v-spacer>
            <v-icon color="red" size="30px" @click="dialog = false">fas fa-times-circle</v-icon>
          </v-card-title>

          <v-card-text class="text-xs-center">
            <v-form>
              <v-container>
                <v-layout row>
                  <v-flex xs10 sm10 lg10>
                    <v-text-field
                      v-model="code"
                      outline
                      single-line
                      label="Enter Bespoke Code"
                      mask="NNNNNNNNNNNNNNNNNN"
                      v-on:keyup.enter="onEnter"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs2 lg2 class>
                    <v-btn color="success" @click="submit" small fab dialog="false">
                      <v-icon>fas fa-chevron-right</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>

    <v-flex grow flex>
      <div class="scan">
        <p>Ready to scan</p>
        <div class="barcode-container shine">
          <i class="fas fa-barcode"></i>
        </div>
      </div>

      <input
        slot="online"
        ref="email"
        v-on:keyup="doStuff"
        :readonly="isReadOnly"
        v-model="hiddenScanField"
        class="hiddenScanField"
      />
    </v-flex>

    <div class="scanned">
      <p style="padding-left: 5px; padding-right: 5px;" @click="goToSplash">Not showing the correct depot ? <span style="color: #00A4E4;">Tap here to change</span></p>
    </div>

    <v-flex grow flex pb-5></v-flex>

    <vue-status>
      <div class="footer" slot="online">
        <v-flex grow flex pb-4>
          <v-btn
            style="margin-bottom: 20px; background-color: #00A4E4; color: white;"
            @click="submitScannedBarcodes"
          >Process Receipt</v-btn>
        </v-flex>
      </div>

      <div class="footer" slot="offline">
        <v-flex grow flex pb-4>
          <v-btn
            disabled
            style="margin-bottom: 20px; background-color: #00A4E4; color: white;"
          >Process Receipt</v-btn>
        </v-flex>
      </div>
    </vue-status>

    <v-dialog v-model="manScan" hide-overlay persistent width="300" style="text-align: center">
          <v-card color="#00A4E4" dark align-center >
            <v-card-text style="text-align: center; color: white; padding-top: 20px">
              <h2 style="margin-bottom: 10px;"> <v-icon
          color="white"
          size="36px"
           style="margin-bottom: 10px; margin-left: 0px"
        >fas fa-exclamation-triangle</v-icon><v-spacer></v-spacer>Manifest scan detected</h2>
              <p>You have scanned a Manifest barcode while offline. Please scan each barcode on the manifest.</p>
              <v-btn
            style="margin-bottom: 10px; background-color: white; color: #00A4E4;"
            @click="closeManScan"
          >OK</v-btn>
            </v-card-text>
          </v-card>
      </v-dialog>


  </div>

</template>

<script>
/* eslint-disable */
import Storage from "../services/storage";
import VueStatus from "vue-status";
//import { link } from "fs";
import BookerooApi from "../services/bookeroo.service";
//import { some } from "lodash/some";
import _ from "lodash";
//import moment from "moment";

export default {
  components: {
    VueStatus
  },

  data() {
    return {
      manScan: false,
      dialog: false,
      scanInterval: "",
      alert: true,
      hiddenScanField: "",
      code: "",
      isReadOnly: false,
      scannedCodes: [],
      getCurrentScans: [],
      numOfCodes: 0,
      messageStr: "Hello",
      depotid: localStorage.getItem("depotNumber"),
      ipCheck: localStorage.getItem("ipadd"),
      depotName: localStorage.getItem("depotname"),
      lastScans: [],
      preSend: [],
      listOfScans: [],
      interval1: "",
      interval2: "",
      ipInt: "",
      countofScans: "",
      count: "",
      error: "",
      storedTime: "",
      thirtyCheck: "",
      depotIdChecker: ""
    };
  },

  created() {
    //currently check the time passed and see if it has passed 15 minutes to run IP function run every 30 seconds
    this.interval1 = setInterval(() => {
      console.log("Interval triggered !");
      this.thirtyCheck = JSON.parse(localStorage.getItem("timeToCheck"));
      var t = new Date();
      var toCompareTime = t.getTime();
      //console.log("The 10s refresh screen time: ", toCompareTime);

      if (toCompareTime > this.thirtyCheck) {
        console.log("Now the IP is being checked.");
        this.ipChecker();
      }
    }, 10000);

  },

  mounted() {
    this.$refs.email.focus();
    this.countofScans = localStorage.getItem("scannedCodes");
    this.updateNumOfCodes();

    this.storedTime = JSON.parse(localStorage.getItem("timeToCheck"));
    var c = new Date();
    var toCheckTime = c.getTime();
    console.log("The mounted screen time: ", toCheckTime);
    console.log("The stored time: ", this.storedTime);

    if (toCheckTime > this.storedTime) {
      console.log("Now the IP is being checked.");
      this.ipChecker();
    }

    //this.onLoadDepotSelector();

  },

  methods: {
    closeManScan(){
      this.manScan = false;
    },

    beforeDestroy() {
      clearInterval(this.interval1);
    },

    ipChecker() {
      var ref = this;
      console.log("checking if has connection");
      //This is the part of the code that gets the IP of the device.
      window.RTCPeerConnection =
        window.RTCPeerConnection ||
        window.mozRTCPeerConnection ||
        window.webkitRTCPeerConnection;
      var pc = new RTCPeerConnection({ iceServers: [] }),
        noop = function() {};

      pc.createDataChannel("");
      pc.createOffer(pc.setLocalDescription.bind(pc), noop);
      pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate) return;

        var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
          ice.candidate.candidate
        )[1];

        this.connectionCheck = myIP;
        console.log("Current IP: ", this.connectionCheck);
        localStorage.setItem("ipadd", this.connectionCheck);
        //End of IP code for the device

        //API call to get the depotID
        BookerooApi.GetIpId(this.connectionCheck)
          .then(response => {
            this.depotIdChecker = response.data;
            console.log("response from call:", this.depotIdChecker);
            if (this.depotIdChecker == 0) {
              console.log(
                "No correct ID found as 0 has been returned. setting id to 0 "
              );
              this.errored = true;
              var toReset = 0;
              localStorage.setItem("depotNumber", toReset);
              localStorage.setItem("inErrorState", this.errored);
            } else {
              console.log("Success !");
              localStorage.setItem("depotNumber", this.depotIdChecker);
              this.depotcheck = response.data;
              this.idrefresh = parseInt(this.depotcheck, 10);
              console.log(response.data);
              localStorage.setItem("idrefresh", this.idrefresh);

              console.log(this.idrefresh);
            }
          })
          .catch(error => {
            this.dialog = false;
            console.log(error);
            this.errored = true;
            var toReset = 0;
            localStorage.setItem("depotNumber", toReset);
            localStorage.setItem("inErrorState", this.errored);

            console.log("Status has been changed", this.errored);
          });

        //API call to get depot name
        BookerooApi.GetIdName(this.connectionCheck)
          .then(response => {
            //debugger;
            if (response.data !== null)
            {
            localStorage.setItem("depotname", response.data);
            console.log("This the depot name: ", response.data);
            this.errored = false;
            localStorage.setItem("inErrorState", this.errored);
            this.depotName= localStorage.getItem("depotname"),
            ref.lastIpCheck();
            }
              else{
                // This part of the else is due to null depot name
                //console.log(error);
                this.errored = true;
                localStorage.setItem("inErrorState", this.errored);
                console.log("Status has been changed", this.errored);
                ref.lastIpCheck();
              }
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
            localStorage.setItem("inErrorState", this.errored);

            console.log("Status has been changed", this.errored);
            ref.lastIpCheck();
          });

      };

      //setTimeout(this.lastIpCheck(), 3000);
      //this.lastIpCheck();
    },

    lastIpCheck() {
      
      console.log("Checking the if the call has errored");
      var errorCheck = localStorage.getItem("inErrorState");
      console.log(
        "This is what is being carried over from the first check: ",
        errorCheck
      );
      var checkDepotId = localStorage.getItem("depotNumber");
      console.log("Getting depot ID: ", checkDepotId);

      if (errorCheck === "true" || checkDepotId == 0) {
        console.log("No Depot ID found and calls has errored");
        console.log("Going to splash screen.");
        var blank = "";
        localStorage.setItem("ipadd", blank);
        clearInterval(this.interval1);
        this.$router.push({ name: "Splash" });
      } else {
        console.log("Calls have been successful !");
        var logTime = new Date();
        var logAddTime = logTime.setTime(logTime.getTime() + 10 * 60 * 1000);
        console.log("Updated timer,IP will be checked at: ", logAddTime);
        localStorage.setItem("timeToCheck", logAddTime);
        //Below to assign new depotnumber as ID
        this.depotid = localStorage.getItem("depotNumber");
      }
    },

    goToShowLast() {
      this.$router.push({ name: "ShowLast" });
    },

    persist() {
      localStorage.code = this.code;
    },

    doStuff: _.debounce(function() {
      this.doSomeThing(this.hiddenScanField);
    }, 100),

    doSomeThing(val) {
      console.log("TCL: deb -> this.val", val);
      console.log("I only get fired once every two seconds, max!");
      if (val && val !== "") {
        console.log("watcher calling scan with " + val.toLowerCase());
        this.scanCode(val.toLowerCase());
      } else {
        console.log("val is f");
      }
    },

    submit() {
      console.log("Barcode that has been entered: " + this.code);
      // if(localStorage.code) this.code = localStorage.code;
      if (this.code.toLowerCase().startsWith("stats")) {
        this.$router.push({ name: "Stats" });
      } else if (this.code.toLowerCase().startsWith("showlast")) {
        this.$router.push({ name: "ShowLast" });
      } else {
        this.scanCode(this.code);
      }
      this.dialog = false;
    },

    submitScannedBarcodes() {
      this.scannedCodes = Storage.getScannedCodes();
      //this.preSend = localStorage.getItem("scanneditems");
      // this.toSend = JSON.parse(this.preSend);

      console.log("The array being sent: ", this.scannedCodes);
      //let model = this.scannedCodes
      BookerooApi.submitScannedBarcodes(this.scannedCodes)
        .then(response => {
          this.$store.commit("setScannedResponse", response.data);
          console.log("This is the response from the API:", response.data);
          clearInterval(this.interval1);
          this.$router.push({ name: "ProcessReceipt" });
        })
        .catch(error => {
          console.log(error);
          alert(
            "Error sending barcodes. Please check your Scans to see if there are any that are incorrect."
          );
        });
    },

    onEnter: function() {
      this.submit();
    },

    clearInput() {
      setTimeout(() => {
        this.hiddenScanField = "";
      }, 100);
    },

    scanCode(scannedCode) {
      // if(!this.hiddenScanField){
      //   return
      // }

      let code = scannedCode.toUpperCase(); //this.hiddenScanField.toLowerCase();
      
      if (
        (code.startsWith("WMAN") && code.length <= 14) ||
        (code.startsWith("BMAN") && code.length <= 14) || //Bi-fold man number
        (code.startsWith("RMAN")  && code.length <= 14) || 
        (code.startsWith("AMAN")  && code.length <= 14) 
      )
      {
        if(!navigator.onLine)
        {
          console.log("User is not online, has to scan items individually ! Show message");
          this.manScan = true;
          return
        }

      }

      

      if (code.startsWith("clear") || code.startsWith("CLEAR")) {
        this.clear();
        return;
      }

      if (code.startsWith("P")) {
        console.log("This code is being to be split up: " + code);
        var number = code.slice(1);
        var pan = "pan";
        console.log("This is now the code after beign spliced: " + number);
        var panCode = pan.concat(number);
        scannedCode = panCode;
        console.log("This is what is going to be stored: " + scannedCode);
        // this.saveCode(scannedCode);
      }

      code = scannedCode.toUpperCase();
      console.log(code);
      console.log(code.length);
      if ( 
        (code.startsWith("RD") && code.length <= 18) ||
        (code.startsWith("WIN") && code.length <= 20) ||
        (code.startsWith("PAN") && code.length <= 12) ||
        (code.startsWith("HVB") && code.length <= 20) || //HVB PREFIX of bi fold scans
        (code.startsWith("RHVB") && code.length <= 20) || //RHVB prefix of remake bi-folds
        (code.startsWith("HFG") && code.length <= 20) || //HFG prefix for grp doors
        (code.startsWith("RDPN") && code.length <= 12) ||
        (code.startsWith("GRPST") && code.length >= 12) ||
        (code.startsWith("WMAN") && code.length <= 14) ||
        (code.startsWith("BMAN") && code.length <= 14) ||
        (code.startsWith("RMAN")  && code.length <= 14) || //Bi-fold man number
        (code.startsWith("AMAN")  && code.length <= 14)
      ) {

          //Additional checks for GRP doors code
          if(code.startsWith("HFG"))
          {
            var grpCheck = /^HFG(\d{6,7})F(\d{1,2})(OF|CP|S1|SF)?(G([0-9]{1,2}))?$/;
            var grpMatch = grpCheck.exec(code);
            console.log(grpMatch);
            if(grpMatch)
            {
              console.log("valid grp code !");
            }
            else{
               this.errorSound();
              console.log(scannedCode + " IS NOT VALID BARCODE");
               this.clearInput();
               return;
            }
          }

        //success
        console.log("valid normal");
        //this.count++;
        this.saveCode(scannedCode);

        try {
          this.getCurrentScans = localStorage.getItem("scanneditems");
          this.listOfScans = JSON.parse(this.getCurrentScans);
          console.log("This array what is being added too:", this.listOfScans);
        } catch (e) {
          this.listOfScans = [];
        }

        if (this.listOfScans == null) {
          this.listOfScans = [];
        }

        this.listOfScans.push({
          code: code,
          scannedAt: this.depotid,
          ipAddress: this.ipCheck
        });

        localStorage.setItem("scanneditems", JSON.stringify(this.listOfScans));
        console.log("Appended list of scans: ", this.listOfScans);

        //This is the section for the scans that are shown on previously scanned
        //Only need stockcode and depot name to display to user
        try {
          this.getCurrentLastScans = localStorage.getItem("lastScans");
          this.lastScans = JSON.parse(this.getCurrentLastScans);
          console.log(
            "This is the array of last scans being added too: ",
            this.lastScans
          );
        } catch (e) {
          console.log("Array is empty");
          this.lastScans = null;
        }

        if (this.lastScans == null) {
          this.lastScans = [];
        }

        this.lastScans.push({ stockcode: code, depName: this.depotName });
        localStorage.setItem("lastScans", JSON.stringify(this.lastScans));

        this.updateNumOfCodes();
      } else {
        
        let isNumeric = !isNaN(code);
        if (isNumeric && (code.length == 6 || code.length == 7)) {
          //success
          console.log("valid ancil");
          this.saveCode(scannedCode);
          this.count++;
          //this.saveCode(scannedCode);
          try {
            this.getCurrentScans = localStorage.getItem("scanneditems");
            this.listOfScans = JSON.parse(this.getCurrentScans);
            console.log(
              "This array what is being added too:",
              this.listOfScans
            );
          } catch (e) {
            this.listOfScans = [];
          }

          if (this.listOfScans == null) {
            this.listOfScans = [];
          }

          this.depotid = localStorage.getItem("depotNumber");
          this.ipCheck = localStorage.getItem("ipadd");

          this.listOfScans.push({
            code: code,
            scannedAt: this.depotid,
            ipAddress: this.ipCheck
          });
          localStorage.setItem(
            "scanneditems",
            JSON.stringify(this.listOfScans)
          );
          console.log("Appended list of scans: ", this.listOfScans);

          //This is the section for the scans that are shown on previously scanned
          //Only need stockcode and depot name to display to user
          // this.lastScans.push({ stockcode: code, depName: this.depotName });
          //localStorage.setItem("lastScans", JSON.stringify(this.lastScans));
          try {
            this.getCurrentLastScans = localStorage.getItem("lastScans");
            this.lastScans = JSON.parse(this.getCurrentLastScans);
            console.log(
              "This is the array of last scans being added too: ",
              this.lastScans
            );
          } catch (e) {
            console.log("Array is empty");
            this.lastScans = null;
          }

          if (this.lastScans == null) {
            this.lastScans = [];
          }

          this.lastScans.push({ stockcode: code, depName: this.depotName });
          localStorage.setItem("lastScans", JSON.stringify(this.lastScans));

          this.updateNumOfCodes();
        } else {
          //error
          this.errorSound();
          console.log(scannedCode + " IS NOT VALID BARCODE");
        }
      }
      this.clearInput();
    },

    saveCode(scannedCode) {
      this.$store.commit("addBarcode", scannedCode);
      this.successSound();
      this.updateNumOfCodes();
    },

    errorSound() {
      var audio = new Audio(require("../assets/sounds/FailBuzzer2.mp3"));
      audio.play();
    },

    successSound() {
      var audio = new Audio(require("../assets/sounds/Beep.mp3"));
      audio.play();
    },

     onLoadDepotSelector() {

       if(navigator.onLine)
      {
      var ref = this;
      console.log("checking if has connection");
      //This is the part of the code that gets the IP of the device.
      window.RTCPeerConnection =
        window.RTCPeerConnection ||
        window.mozRTCPeerConnection ||
        window.webkitRTCPeerConnection;
      var pc = new RTCPeerConnection({ iceServers: [] }),
        noop = function() {};

      pc.createDataChannel("");
      pc.createOffer(pc.setLocalDescription.bind(pc), noop);
      pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate) return;

        var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
          ice.candidate.candidate
        )[1];

        this.connectionCheck = myIP;
        console.log("Current IP: ", this.connectionCheck);
        localStorage.setItem("ipadd", this.connectionCheck);
        //End of IP code for the device

        //API call to get the depotID
        BookerooApi.GetIpId(this.connectionCheck)
          .then(response => {
            this.depotIdChecker = response.data;
            console.log("response from call:", this.depotIdChecker);
            if (this.depotIdChecker == 0) {
              console.log(
                "No correct ID found as 0 has been returned. setting id to 0 "
              );
              this.errored = true;
              var toReset = 0;
              localStorage.setItem("depotNumber", toReset);
              localStorage.setItem("inErrorState", this.errored);
            } else {
              console.log("Success !");
              localStorage.setItem("depotNumber", this.depotIdChecker);
              this.depotcheck = response.data;
              this.idrefresh = parseInt(this.depotcheck, 10);
              console.log(response.data);
              localStorage.setItem("idrefresh", this.idrefresh);

              console.log(this.idrefresh);
              this.depotid = localStorage.getItem("depotNumber");
              console.log('New ID has been logged !', this.depotid);
            }
          })
          .catch(error => {
            this.dialog = false;
            console.log(error);
            this.errored = true;
            var toReset = 0;
            localStorage.setItem("depotNumber", toReset);
            localStorage.setItem("inErrorState", this.errored);

            console.log("Status has been changed", this.errored);
          });

        //API call to get depot name
        BookerooApi.GetIdName(this.connectionCheck)
          .then(response => {
            //debugger;
            if (response.data !== null)
            {
            localStorage.setItem("depotname", response.data);
            console.log("This the depot name: ", response.data);
            this.errored = false;
            localStorage.setItem("inErrorState", this.errored);
            //ref.lastIpCheck();
            this.depotName= localStorage.getItem("depotname");
            }
              else{
                // This part of the else is due to null depot name
                //console.log(error);
                this.errored = true;
                localStorage.setItem("inErrorState", this.errored);
                console.log("Status has been changed", this.errored);
                //ref.lastIpCheck();
              }
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
            localStorage.setItem("inErrorState", this.errored);

            console.log("Status has been changed", this.errored);
            //ref.lastIpCheck();
          });

      };

      }
      else {
        console.log("Device is not online, not checking ID");
      }
  },

    clear() {
      this.$store.commit("clear");
      this.clearInput();

      //Need to clear local storage down.
      this.LastScans = "";
      localStorage.setItem("lastScans", this.LastScans);
      this.scannedCodes = "";
      localStorage.setItem("scannedCodes", this.scannedCodes);
      this.scannedItems = "";
      localStorage.setItem("scanneditems", this.scannedItems);
      this.count = 0;
    },

    goToSplash() {
      this.$router.push({ name: "Splash" });
    },

    updateNumOfCodes() {
      //let codes = Storage.getScannedCodes();
      //this.numOfCodes = codes.length; //this.$store.state.scannedBarcodes.length;

      //  var num = JSON.parse(this.countofScans);

      //     if (num === null)
      //     {
      //       this.count = 0;
      //     }
      //     else {
      //         this.count = num.length;
      //     }
      this.countofScans = localStorage.getItem("scannedCodes");

      try {
        var num = JSON.parse(this.countofScans);
        this.count = num.length;
        return this.count;
      } catch (e) {
        return (this.count = 0);
      }
    }
  },
  computed: {
    time() {
      var d = new Date(); // for now
      return d.getHours() + ":" + d.getMinutes();
    }
  },

  onIdle() {
    // this.isReadOnly = true;
    // this.$refs.email.focus();
    // setTimeout(() => {
    //   this.isReadOnly = false;
    // }, 50);
    this.isReadOnly = true;
    // this.$refs.email.focus();

    this.scanInterval = setTimeout(() => {
      if (!this.dialog) {
        this.$refs.email.focus();
        this.isReadOnly = false;
      }
    }, 50);
  },

  onActive() {
    this.messageStr = "Hello";
  }

};
</script>

<style
  lang="scss"
  scoped
  link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
>
.fas {
  color: #fff;
}
.scan {
  /* //height: 100%; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.849);
  /* //padding-bottom: 28%; */
  padding-top: 2%;
  text-align: center;
  color: #00A4E4;
  font-size: 250%;
  font-weight: bold;
}
footer {
  height: 90px;
  z-index: 1000;
  position: relative;
  padding-top: 8px;
}

.noconnection {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(218, 1, 1);
  color: white;
  text-align: center;
  align-content: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}

.body {
  background-color: white;
}
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}
.key {
  text-align: right;
  padding-right: 5%;
  padding-top: 1%;
}
.his {
  text-align: left;
  padding-right: 5%;
  padding-top: 1%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}
.scanned {
  text-align: center;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
.mantitle {
  color: white;
  text-align: right;
}
.iconright {
  text-align: right;
}
/*The below styling is for the barcode image/ icon to shimmer provided by KS 14/06/2019*/
.shine {
  background: #00A4E4;
  background-image: linear-gradient(
    to right,
    #0599d3 0%,
    #20ace4 20%,
    #2eb1e6 40%,
    #00A4E4 100%
  );
  background-repeat: no-repeat;
  background-size: 500px 200px;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.barcode-container {
  padding: 0px 25px 0px 25px;
  height: 100px;
  border-radius: 15px;
}

.barcode-container > .fas {
  height: 100px;
  color: #fff;
  font-size: 100px;
  display: block;
}
/*This is the end of the shimmer code.*/

.hiddenScanField {
  opacity: 0;
  filter: alpha(opacity=0);
}

.offline {
  background-color: white;
  color: red;
  width: 100%;
  height: 100%;
  text-align: center;
}

.manScan {
  width: 250px !important;
  height: 250px !important;
}
</style>
