
<template>
  <div>
    <v-layout class="black align-left justify-left pa-5">
      <v-icon color="#00A4E4" size="38px" class="pr-3">fas fa-globe</v-icon>
      <div class="pt-2">
        <h3 class="mantitle">Bookaroo - Global</h3>
      </div>
      <v-spacer></v-spacer>
      <vue-status>
        <v-icon
          slot="online"
          color="green"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
        <v-icon
          slot="offline"
          color="red"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
      </vue-status>
    </v-layout>
    <TitleBar :title="'Previously Scanned Barcodes'" />
    <div class="scanned" style="font-weight: bold;">Bookaroo - Global Version: {{version}}</div>
    <div class="scanned">{{lastScans.length}} barcode(s) have been scanned</div>
    
    <!-- <ul>
      <li v-for="item in scannedCodes" v-bind:key="item">{{ item }}</li>
    </ul>-->
       <v-flex xs12 lg12 text-xs-center grow flex>
      <br />
    </v-flex>
      <v-flex xs12 lg12 text-xs-center grow flex>
      <br />
      </v-flex>
      
    <div class="scanned" id="container" style="max-height:220px; overflow-y: auto;">
      <div v-for="(item, index) in this.lastScans" v-bind:key="index">
        <v-layout row wrap align-center>
          <v-flex xs12>
            <span class="font-weight-bold" style="color:green;">{{ item.stockcode }}</span> scanned at <span class="font-weight-bold"> {{item.depName}} </span>
          </v-flex>
        </v-layout>
      </div>
    </div>

    <div></div>
    <v-flex grow flex pb-5></v-flex>
    <div class="footer">
      <v-flex grow flex pb-4>
        <v-btn
          @click="goToScanB"
          style="margin-bottom: 20px; background-color: #00A4E4; color: white;"
        >
          Back to Scanning
          <i class="fas fa-chevron-right" style="margin-left: 10px;"></i>
        </v-btn>
      </v-flex>
    </div>
  </div>
</template>



<script>
/* eslint-disable */
import Storage from "../services/storage";
// import BookerooApi from "../services/bookeroo.service";
import VueStatus from "vue-status";
export default {
  components: {
    VueStatus
  },
  data() {
    return {
      scannedCodes: [],
      ipCheck: "",
      listOfScans: [],
      lastScans:[],
    };
  },
  methods: {
    goToScanB() {
      this.$router.push({ name: "ScanBespokeCode" });
    },

    scrollToEnd: function() {    	
      var container = this.$el.querySelector("#container");
      container.scrollTop = container.scrollHeight;
    },

  },
  computed: {
    environment() {
      return process.env.VUE_APP_ENVIRONMENT;
    },

    api() {
      return process.env.VUE_APP_BASE_URL;
    },

    version(){
      return process.env.VUE_APP_VERSION;
    }
  },

  created() {},

  mounted() {
    this.scannedCodes = Storage.getScannedCodes();

    var scans = JSON.parse(localStorage.getItem("scanneditems"));
    this.listOfScans = scans;
    console.log("list of parsed items: ", this.listOfScans);

    //This is for the depot name for last scans checked
    var prevScans = JSON.parse(localStorage.getItem("lastScans"));
    this.lastScans = prevScans;
    console.log("List of stockcodes and depot name: ",this.lastScans);
    


  }
};
</script>

<style lang="scss" scoped>
.fas {
  color: #fff;
}
.scan {
  //height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.849);
  //padding-bottom: 28%;
  padding-top: 2%;
  text-align: center;
  color: green;
  font-size: 250%;
  font-weight: bold;
}
.barcode-container {
  padding: 0px 25px 0px 25px;
  height: 100px;
  border-radius: 15px;
}
.mantitle {
  color: white;
  text-align: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}

.body {
  background-color: white;
  font-weight: bold;
  font-size: 150%;
}

ul {
  padding-top: 5%;
  text-align: center;
  list-style-type: none;
  margin-right: 8%;
}

li {
  color: green;

  font-weight: bold;
  font-size: 120%;
}
.scanned {
  text-align: center;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
</style>