
<template class="body">
  <div class="body">
    <v-layout class="black align-left justify-left pa-5">
      <v-icon color="#00A4E4" size="38px" class="pr-3">fas fa-globe</v-icon>
      <div class="pt-2">
        <h3 class="mantitle">Bookaroo - Global</h3>
      </div>
      <v-spacer></v-spacer>
      <vue-status>
        <v-icon
          slot="online"
          color="green"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
        <v-icon
          slot="offline"
          color="red"
          size="30px"
          class="align-right justify-right pl-3 ml-3"
        >fas fa-wifi</v-icon>
      </vue-status>
    </v-layout>

    <v-flex xs12 lg12 text-xs-center grow flex>
      <br />
    </v-flex>
    <v-flex xs12 lg12 text-xs-center grow flex>
      <br />
    </v-flex>

    <v-card class="mx-auto" max-width="280" color="#00A4E4">
      <v-card-text class="text-center">
        <div class="nowifi">Please enter WI-FI range to start scanning</div>
      </v-card-text>

      <v-card-text class="text-center">
        <div class="nowifi">OR</div>
      </v-card-text>

      <v-card-text class="text-center">
        <div class="nowifi">Select your required depot from the drop down list below to start</div>
      </v-card-text>
    </v-card>

    <v-flex xs12 lg12 text-xs-center grow flex>
      <br />
    </v-flex>
    <v-flex xs12 lg12 text-xs-center grow flex>
      <br />
    </v-flex>

    <div style="margin-left: auto; margin-right: auto;">
        <v-select
          :items="depots"
          label="Select Depot"
          solo
          class="dptslct"
          item-text="name"
          item-value="id"
          v-model="depotId"
          :rules="depotRules"
          required
          @change="onChange($event)"
        ></v-select>
    </div>

  </div>
</template>

<script>
/* eslint-disable */
import VueStatus from "vue-status";
import BookerooApi from "../services/bookeroo.service";
//import _ from "lodash";

export default {
  data() {
    return {
      depotRules: [v => !!v || "Depot is required"],
      //depots: [],
      depots: [],
      depotcheck: "",
      depotId: 0, // localStorage.getItem('depotNumber',this.depotId),
      // selectedDepotId: localStorage.getItem("depotNumber"),
      idrefresh: "",
      depotname: "",
      interval1: "",
      interval2: "",
      depotIdChecker: ""
    };
  },

  components: {
    VueStatus
  },

  created() {
    this.interval1 = setInterval(() => {
      //This is the part of the code that gets the IP of the device.
      window.RTCPeerConnection =
        window.RTCPeerConnection ||
        window.mozRTCPeerConnection ||
        window.webkitRTCPeerConnection;
      var pc = new RTCPeerConnection({ iceServers: [] }),
        noop = function() {};

      pc.createDataChannel("");
      pc.createOffer(pc.setLocalDescription.bind(pc), noop);
      pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate) return;

        var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
          ice.candidate.candidate
        )[1];

        this.ipCheck = myIP;
        console.log(this.ipCheck);
        localStorage.setItem("ipadd", this.ipCheck);
        //End of IP code for the device

        //API call to get the depotID
        BookerooApi.GetIpId(this.ipCheck)
          .then(response => {
            this.depotIdChecker = response.data;
            if (this.depotIdChecker == 0) {
              console.log(
                "No correct ID found as 0 has been returned."
              );
              this.errored = true;
            } else {
              localStorage.setItem("depotNumber", this.depotIdChecker);
              this.depotcheck = response.data;
              this.idrefresh = parseInt(this.depotcheck, 10);
              console.log(response.data);
              localStorage.setItem("idrefresh", this.idrefresh);
              this.errored = false;
              localStorage.setItem("inErrorState", this.errored);

              console.log(this.idrefresh);
            }
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
            localStorage.setItem("inErrorState", this.errored);

            console.log("Status has been changed", this.errored);
          });

        //API call to get depot name
        BookerooApi.GetIdName(this.ipCheck)
          .then(response => {
            if (response.data !== null) {

            localStorage.setItem("depotname", response.data);
            console.log("This the depot name: ", response.data);
            this.errored = false;
            localStorage.setItem("inErrorState", this.errored);

            }
              else {
                this.errored = true;
                localStorage.setItem("inErrorState", this.errored);

                console.log("Status has been changed", this.errored);
              }
          })
          .catch(error => {
            console.log(error);
            this.errored = true;
            localStorage.setItem("inErrorState", this.errored);

            console.log("Status has been changed", this.errored);
          });
      };
    }, 2000);

    this.interval2 = setInterval(() => {
      this.idcheck = localStorage.getItem("idrefresh");
      var zero = "0";
      //const y = undefined;
      console.log("This is what is being checked: ", this.idcheck);

      //This is checking the length of the variable as when the API fires off when offline it returns a blank value
      if (this.idcheck == zero || this.idcheck.length === 0) {
        console.log("Not an int");
        console.log("This is the value:", this.idcheck);
      } else {
        console.log("This is what has been seen as an int: ", this.idcheck);
        this.$router.push({ name: "ScanBespokeCode" });
        localStorage.setItem("idrefresh", "");
      }

      var errorCheck = localStorage.getItem("inErrorState");
      console.log(
        "This is what is being carried over from the first check: ",
        errorCheck
      );
      if (
        !this.depotname ||
        errorCheck === "true" ||
        this.depotIdChecker == 0
      ) {
        //&& errorCheck === "true")
        console.log("The API's returned an Error force to pick from drop list");
      } else {
        var logTime = new Date();
        var logAddTime = logTime.setTime(logTime.getTime() + 7 * 60 * 1000);
        console.log("IP will be checked at: ", logAddTime);
        localStorage.setItem("timeToCheck", logAddTime);

        console.log("This is what has been seen as an int: ", this.idcheck);
        console.log("This is the depot name: ", this.depotname);

        this.$router.push({ name: "ScanBespokeCode" });
        localStorage.setItem("idrefresh", "");
      }
    }, 5000);
  },

  mounted() {
    var depotId = parseInt(localStorage.getItem("depotNumber"));
    this.depotId = depotId;

    var errorCheck = localStorage.getItem("inErrorState");

    if (errorCheck === "true") {
      console.log("we in error");
      var loadDepots = JSON.parse(localStorage.getItem("depotList"));
      this.depots = loadDepots;
    } else {

      BookerooApi.getDepots().then(response => {
        var toStore = response.data;

        try {
          localStorage.setItem("depotList", JSON.stringify(toStore)); //This stores the array as a string for the depots
          //console.log("api response:", response.data); //this logs array of id's and depot names
          var loadDepots = JSON.parse(localStorage.getItem("depotList"));
          //console.log("After the parsing: ", loadDepots);
          this.depots = loadDepots;
          return this.depots;
        } catch (e) {
          loadDepots = JSON.parse(localStorage.getItem("depotList"));
          this.depots = loadDepots;
        }
      })
      .catch(error => {
            console.log(error);
            loadDepots = JSON.parse(localStorage.getItem("depotList"));
            this.depots = loadDepots;
          });

    }
  },

  beforeDestroy() {
    clearInterval(this.interval1);
    clearInterval(this.interval2);
  },

  methods: {
    onChange(val) {
      console.log("ddd" + val);
      var match = val;

      this.$store.commit("setDepotId", val);
      localStorage.setItem("depotNumber", val);

      //The below is too iterate through the array and match the depot it to the name
      //This appears to be working -- 03/03/2020
      for (var dep of this.depots) {
        if (match === dep.id) {
          console.log("This has been matched: ", dep.id);
          console.log("Depot name has been found: ", dep.name);
          localStorage.setItem("depotname", dep.name);

          var logTime = new Date();
          var logAddTime = logTime.setTime(logTime.getTime() + 7 * 60 * 1000);
          console.log("IP will be checked at: ", logAddTime);
          localStorage.setItem("timeToCheck", logAddTime);

          this.$router.push({ name: "ScanBespokeCode" });
        }
      }
    },

    goToScan() {
      this.$router.push({ name: "ScanBespokeCode" });
    }
  }
};
</script>

<style
  lang="scss"
  scoped
  link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
>
.fas { 
  color: #fff;
}

footer {
  height: 90px;
  z-index: 1000;
  position: relative;
  padding-top: 8px;
}

.v-text-field.v-text-field--enclosed{
  margin-left: auto;
  margin-right: auto;
}

.dptslct {
  width: 80%;
  align-self: center;
  justify-content: center;
  
}

.noconnection {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(218, 1, 1);
  color: white;
  text-align: center;
  align-content: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}

.nowifi {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.body {
  background-color: white;
  background-image: url("/img/bookaroonights.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}
.key {
  text-align: right;
  padding-right: 5%;
  padding-top: 1%;
}
.his {
  text-align: left;
  padding-right: 5%;
  padding-top: 1%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 18%;
}
.scanned {
  text-align: center;
  background-color: rgb(233, 233, 233);
  width: 100%;
}
.mantitle {
  color: white;
  text-align: right;
}
.iconright {
  text-align: right;
}

.barcode-container {
  padding: 0px 25px 0px 25px;
  height: 100px;
  border-radius: 15px;
}

.barcode-container > .fas {
  height: 100px;
  color: #fff;
  font-size: 100px;
  display: block;
}
/*This is the end of the shimmer code.*/

.hiddenScanField {
  opacity: 0;
  filter: alpha(opacity=0);
}

.offline {
  background-color: white;
  color: red;
  width: 100%;
  height: 100%;
  text-align: center;
}
</style>
