<template>
  <v-layout class="titlelay align-center justify-center pa-3">
    <h3 class="white--text">{{ title }}</h3>
  </v-layout>
</template>

<script>
export default {
  props: ["title"],
  data: () => ({})
};
</script>

<style>
.titlelay {
  background-color: #00A4E4;
}
</style>
